@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --very-Dark-Blue: hsl(217, 19%, 35%);
  --desaturated-Blue: hsl(214, 17%, 51%);
  --grayish-Blue: hsl(212, 23%, 69%);
  --light-Blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  font-size: 13px;
  background: var(--light-Blue);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


.container {
  background: white;
  width: 60%;
  max-width: 750px;
  display: flex;
  border-radius: 0.5rem;
}

.left {
  width: 300px;
}

.left img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.right {
  padding: 2.5rem;
  max-width: 450px;
}

.right h3 {
  font-size: 1.3rem;
  color: var(--very-Dark-Blue);
  margin-bottom: 0.7rem;
}

.right .para {
  font-size: 0.9rem;
  color: var(--desaturated-Blue);
  line-height: 1.5;
}

.author {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: 3rem;
  border-radius: 50%;
}

.about {
  margin-left: 10px;
}

.about .name {
  width: 200px;
  font-weight: 700;
  color: var(--very-Dark-Blue);
}

.about .date {
  color: var(--desaturated-Blue);
}

.share-box {
  margin-left: 25%;
}

.share-img {
  width: 40px;
  border-radius: 50%;
  background: var(--light-Blue);
  padding: 7px;
}

.share-img:hover {
  background: var(--grayish-Blue);
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.social {
  width: 220px;
  height: 50px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  align-items: center;
  color: #fff;
  position: absolute;
  left: 265px;
  bottom: 60px;
}

.icon-title {
  color: var(--grayish-Blue);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.social::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  content: "";
  position: absolute;
  right: 105px;
  top: 50px;
}

.mob-social {
  display: none;
}

@media (max-width: 992px) {
  .container {
    width: 90%;
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 300px;
  }

  .left img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }

  .right {
    max-width: 100%;
    position: relative;
    padding: 0 !important;
    margin-top: 1rem;
  }

  .right h3 {
    padding: .5rem 2.5rem;
  }

  .right .para {
    padding: .5rem 2.5rem;
  }

  .author {
    width: 100%;
    justify-content: initial;
    padding: .5rem 2.5rem;
  }

  .share-box {
    margin-left: 50%;
  }

  .social {
    display: none;
  }

  .mob-social {
    width: 100%;
    background: hsl(217, 19%, 35%);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: .1%;
    align-content: center;
  }

  .mob-social::before {
    border-width: 0;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .share-box {
    margin-left: 45%;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0;
  }

  .right h3 {
    font-size: 1rem;
  }

  .right .para {
    font-size: 0.75rem;
  }

  .author {
    padding: .25rem 2rem;
  }

  .share-box {
    margin-left: 25%;
  }

}

@media (max-width: 450px) {
  .author {
    padding: .2rem 1.5rem;
  }

  .share-box {
    margin-left: 7%;
  }
}

@media (max-width: 395px) {
  .author {
    padding: .1rem 1rem;
  }

  .share-box {
    margin-left: 1%;
  }
}